{% extends 'base.html.twig' %}

{% block title %}Hello React!{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# appel de notre premier script en react #}
    {{ encore_entry_script_tags('js/evalRender') }}
{% endblock %}

{% block body %}

    <div id="app"></div>

{% endblock %}