{% extends 'base.html.twig' %}

{% block title %}Hello React!{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# appel de notre premier script en react #}
{#    <script defer src="{{ asset('build/js/todo.js') }}"></script>#}

    {{ encore_entry_script_tags('js/todo') }}
{% endblock %}

{% block body %}

    <div id="todoList"></div>



{% endblock %}