{% extends 'base.html.twig' %}

{% block title %}Three New Voitures{% endblock %}

{% block body %}
    <h1>Create Three new Voitures</h1>

    {{ include('voiture/_formTest.html.twig') }}

    <a href="{{ path('voiture_index') }}">back to list</a>
{% endblock %}
