{% extends 'base.html.twig' %}

{% block title %}Hello AcceuilController!{% endblock %}

{% block body %}

<div class="grix xs4 sm2 gutter-xs4 container">
    <div class="card">
        <div class="card-content xs4">
            <div class="card-header xs4"><h1>Accueil</h1></div>

    {% if app.user.id is defined %}
        Saluuuuut {{ app.user.firstname }} {{ app.user.name }}
    {% else %}
        <a href="/login" class="btn rounded-1 outline txt-airforce"><span class="outline-text">Vous connecter ?</span></a>
    {% endif %}


        </div>
    </div>
</div>



    {#{{ path('updateUser', {'id': app.user.id }) }}#}


{% endblock %}
